body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #40514E
}

h5{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin-top: 0;
}

.top-container {
  background-color: #EAF9F5;
  position: relative;
  padding-top: 100px
}

.middle-container {
  background-color: #EAF9F5;
}

.skill-row
{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
  position: relative;
}

.work-row
{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align:left;
}

.achievements-row
{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.CSR-row
{
  width: 50%;
  margin: 50px auto 10px auto;
  text-align: left;
}


.JUMO-img {
  width: 20;
  float: right;
}

.WTW-img {
  width: 60%;
  float: right;
}

.PRU-img {
  width: 35%;
  float: right;
}

.NRE-img {
  width: 30%;
  float: right;
}

.HP-img {
  width: 15%;
  float: right;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 900px;
}

.bird1 {
  position: absolute;
  right: 250px;
  top: 900px;
}

.bird2 {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.plane {
  position: absolute;
  bottom: 150px;
  left: 220px;
  size: 1%;
}

.Travel-img{
padding-top:20px;
width: 70%;
}

.Hello{
  position: absolute;
  right: 490px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 280px;
}

.work-img {
  width: 30%;
  float: right;
  position: absolute;
  right: 175px;
  bottom: 40px;
}

.achievements-img {
  position: relative;
  right: 320px;
  bottom: 75px;
  float: right;
  width: 18%;
}

.CSR-img{
position: absolute;
left: 26%;
top: 3420px;
}

.INT-img{
position: absolute;
left: 27%;
top: 4270px;
}


.MM-img{
position: absolute;
width: 12%;
left:  78%;
top:3670px;
}

.NDTV-img{
position: absolute;
width: 10%;
left:  78%;
top:3770px;
}

.MD-img{
position: absolute;
width: 15%;
left:  76%;
top:3830px;
}

.LR-img{
position: absolute;
width: 7%;
left:  80%;
top:3950px;
}

.profile{
  margin-top: 0;
}

.mountain{
  margin-bottom: 50px;
}

.btn {
background: #11CDD4;
background-image: gradient(top, #11CDD4, #11999E);
background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
background-image: linear-gradient(to bottom, #11CDD4, #11999E);
border-radius: 8px;
font-family: 'Montserrat', sans-serif;
color: #ffffff;
font-size: 25px;
text-decoration: none;
padding-bottom: 0
}

.btn:hover {
background: #30e3cb;
background-image: gradient(top, #30e3cb, #2bc4ad);
background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: gradient(top, #30e3cb, #2bc4ad);
background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  font-family: sans-serif;
  font-size: 20px;
  color: #11999E;
  word-spacing: 50px;
}

.trademark{
  font-family: sans-serif;
  color: #EAF6F6;
  word-spacing: 0;
  font-size: 15px;
}

hr {
  border: dotted grey 3px;
  border-bottom: none;
  width: 15%;
  margin: 50px auto;
}

.intro{
  width: 100%;
  margin: auto;
}


.contact-me{
  width: 100%;
  padding-bottom: 5%;
}

a{
  color: #363062;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #7f78d2;
}
